<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test" parallel="classes" >
		<classes>
			<class name="petstore.qa.restapi.TC2_UserPasswordUpdateTest" />
			<class name="petstore.qa.restapi.TC3_PetOrderTest" />
			<class name="petstore.qa.restapi.TC1_PetDeleteTest" />
		</classes>
	</test>
</suite>
